<div class="text-center">
  <h1>ダッシュボード</h1>
  <%= link_to "新規投稿" ,new_gamepost_path, class: "btn btn-primary" %>
</div>
<div>
 <% if gameposts.any? %>
  <ul class="list-unstyled mt-2">
     <% gameposts.each do |gamepost| %>
      <li class="d-flex">
          
          <div class="m-2 text-dark"><h4>タイトル</h4>
            <p><%= link_to gamepost.title %></p>
          </div>
                
          <div class="m-2 text-dark "><h4>開発元</h4>
            <p><%= link_to gamepost.developer %></p>
          </div>
          
         <div class="m-2 text-dark "><h4>販売元</h4>
           <p><%= link_to gamepost.distributor %></p>
         </div>
               
          <div class="m-2 text-dark "><h4>プラットフォーム</h4>
              <p><%= link_to gamepost.platform %></p>
           </div>
                 
            <div class="m-2 text-dark "><h4>発売日</h4>
                <p><%= link_to gamepost.releasedate %></p>
            </div>
                     
             <div class="m-2 text-dark "><h4>プレイした日</h4>
               <p><%= link_to gamepost.playdate %></p>
              </div>
                     
              <div class="m-2 text-dark "><h4>登録日</h4>
                <p><%= link_to gamepost.registrationdate %></p>
              </div>
                                    
              <div class="m-2 text-dark "><h4>更新日</h4>
                <p><%= link_to gamepost.updatedate %></p>
              </div>
              <div>
               <%= link_to "削除", gamepost, method: :delete, data: { confirm: "削除してもいいですか？" }, class: "btn btn-danger m-2  w-40" %>
               <%= link_to "編集",edit_gamepost_path(gamepost.id), class: "btn btn-primary" %>
               
             </div>
         <% end %>
       </li>
    </ul>
 </div>
<% end %>